/*! HELLO OTIS NEW NOT CACHED VERSION OF CSS */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html,
button,
input,
select,
textarea {
    color: #222;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;

    box-sizing: border-box;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a {
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Futura Std, Helvetica, Helvetica Neue, Arial, sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 10px solid #000;
}

.footer-container {
    width: 100%;
    float: left;
    clear: both;
}

.footer-container {
    background: #333;
}

.header-container {
    background: #d2d2d2;
}

.title {
    color: white;
    text-align: center;
    position: absolute;
    left: 40%;
    right: 40%;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1;
    width: 20%;
    padding-bottom: 0px;
    border-bottom: 10px solid transparent;
    font-size: 24px;
    margin-top: 31px;
    
}

/* ==============
    MOBILE: Menu
   ============== */

#navLeft {
    float: left;
    width: 40%;
}

#navRight {
    float: right;
    width: 40%;
}

#navRight ul li a{
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 0px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: transparent;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    border-bottom: 3px solid #fff;
}

.selected {
    border-bottom: 3px solid #fff;
}

/* ==============
    MOBILE: Main
   ============== */

#instructions {
    padding: 30px 0;
}

#instructions article h1 {
    font-size: 2em;
}

#footerContainer {
    margin: 0 auto;
    bottom: 0;
    margin-top: 100px;
}

.footer-container footer {
    color: white;
    padding: 10px 0;
}

.footer-container footer nav {
    float: left;
    width: 100%;
    margin: 4px 0 0px 0;
}

.footer-container footer nav ul li {
    display: inline-block;
    list-style-type: none;
    list-style: none;
    margin: 0 10px;
}

.footer-container footer nav ul li a {
    font-size: 14px;
    font-weight: normal;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
.button {
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;

    position: absolute;
        width: 30%;
        left: 35%;
        right: 35%;
    padding: 25px 10px;
    margin-top: 100px;

    background-color: #46a07b;
    color: #fff;
} */

.button {
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  width: 22%;
  left: 39%;
  right: 39%;
  padding: 20px 10px;
  margin-top: 80px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff
}

.button:hover {
    background-color: #fff;
    color: #333;
}

/* ==========================================================================
   Forms. All of them. 
   ========================================================================== */

#subAccountMenu ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#subAccountMenu ul li {
    display: inline-block;
}

#subAccountMenu ul li a {
    float: left;
    padding: 16px 22px 14px 22px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

#subAccountMenu ul li a:hover {
    opacity: 0.9;
}

.subActive {
    background-color: #46A077 !important;
}


#orderFormContainer {
    margin-bottom: 80px;
    padding-top: 0 !important;
}

#HccForm {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
}

#HccForm a, #HccForm a:visited, #HccForm a:active  {
    text-decoration: underline;
    color: #333;
}

#HccForm h2 {
    margin-top: 20px;
    float: left;
    width: 100%;
}

#HccForm input, #HccForm select {
    width: 100%;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 64px;
    margin: 5px 0 5px 0;
    padding: 20px 26px;
    color: #474747;
    font-size: 1em;
    font-weight: 400;
    line-height: 27px;
    border: 1px solid #ededed;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    background-color: #ededed;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
    outline: none;
    float: left;
}

#HccForm .buttonLogin {
    background-color: #146ee1; 
    color: #FFF;
    font-weight: bold;
    border: none;
}

#HccForm .buttonPrimary {
    /* background-color: #146ee1;  blue */ 
    background-color: #fca31b;
    color: #FFF;
    font-weight: bold;
}

#HccForm .buttonPrimary:hover {
    /* background-color: #1260c4; blue */
    background-color: #e48a00;
}

#HccForm .buttonCancel {
    background-color: #ededed;
}

#HccForm .buttonCancel:hover {
    background-color: #cfcfcf;
}

#HccForm select {
    background-color: #46a07b;
    color: #fff;
    font-weight: bold;
}

#HccForm .error {
    background-color: red;
    color: #333 ;
}

#HccForm .left {
    width: 49%;
    display: block;
    float: left;
    text-align: left;
}

#HccForm .right {
    width: 49%;
    display: block;
    float: right;
    text-align: right;
}

#HccForm .payThird {
    width: 32.2%;
    margin-right: 1.7%;
    display: block;
    float: left;
    text-align: left;
}


.order-form-terms-disclaimer {
    float: left;
}

/* ==========================================================================
   Annoncement
   ========================================================================== */

#announcemnet {
    height: 46px;
    background-color: rgba(0,0,0,0.6);
    color: rgba(255,255,255,0.8);
    position: absolute;
    z-index: 999;
    min-height: 46px;
    max-height: 46px;
    width: 100%;
    text-align: center;
    line-height: 23px;
}

.flag {
    margin-top: -5px;
    margin-right: 5px;
}

#announcemnet a {
    color: #fff;
    font-weight: bold;
} 


/* ==========================================================================
   Hero Area
   ========================================================================== */


.header-container {
    /* background: url('http://www.sahomeowner.co.za/wp-content/uploads/2013/08/SAC1004_Grey0219_39L-2.jpg'); */
    /* background: url(../img/jpg/sub-hero-6.jpg); */
    background: url(../img/jpg/sub-hero-9.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#heroContainer {
    width: 100%;
    float: left;
    margin-top: 120px;
}

#subHeroContainer {
    text-align: center;
    margin-top: 80px;
}

.heroFont h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.heroFont h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}


/* ==========================================================================
   Brands or Subscribing companies
   ========================================================================== */

.brands {
    background: url(../img/gif/brands.gif);
    background-color: #ebebeb;
    background-position: center center;
    background-repeat: no-repeat;
    height: 120px;
    width: 100%;
    float: left;
}
 
/* ==========================================================================
   Price Tiers
   ========================================================================== */


#priceTiers {
    background: url(../img/jpg/sub-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 710px;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    clear: both;
    overflow: hidden;
} 

#priceContainer {

}


#priceContainer .fourcol {
    width: 25%;
    min-height: 200px;
    float: left;
    text-align: center;

    /* background-color: pink; */
}

#priceContainer .fourcol h3 {
    font-size: 42px;
    line-height: 42px;
    border: 3px solid #fff;
    padding: 20px 20px 12px 20px;
    color: #fff;

    width: auto;
    margin: 20px 30px auto;    
}

#priceContainer .fourcol h3 span {
    font-size: 22px;
    margin-right: 10px;
}

#priceContainer .fourcol ul {
    margin: 30px;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    list-style-type: none;
    color: #fff;
}

#priceContainer .fourcol ul li {
    line-height: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

#priceContainer .fourcol a {
    color: #333;
    font-weight: bold;
    background-color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0px 30px auto; 
    display: block;
 }

 #priceContainer .fourcol a:hover {
    color: #fff;
    font-weight: bold;
    background-color: #46A079;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0px 30px auto; 
    display: block;
 }

#priceContainer .fourcol ul li a {
    color: #fff;
    background-color: #46A079;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px 40px;
    display: block;
 }

 #priceContainer .fourcol ul li a:hover {
    color: #46A079;
    background-color: #fff;
 }


  #priceContainer .popular h3 {
    border: 3px solid #46A079;
  }

  #priceContainer .popular a {
    background-color: #46A079;
    color: #fff;
  }

  #priceContainer .popular a:hover {
    background-color: #fff;
    color: #333;
  }

  #priceContainer .popular a:after {
    content: " (most popular)";
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
  } 

/* ==========================================================================
   Lifestyle Coffeeeeeeee and cats. 
   ========================================================================== */


#lifestyleContainer {
    width: 100%;
    max-height: 1600px;
    min-height: 1100px;
    float: left;
    clear: both;
}


#lifestyleContainer .fiveColFirst {
    width: 19.6%;
    margin-left: 0;
    margin-right: 0.5%;
    float: left;
}

#lifestyleContainer .fiveCol {
    width: 19.6%;
    margin-right: 0.5%;
    float: left;
}


#lifestyleContainer .fiveColLast {
    margin-right: 0;
    width: 19.6%;
    float: left;
}

#lifestyleContainer .fiveCol img, #lifestyleContainer .fiveColFirst img, #lifestyleContainer .fiveColLast img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
}

#lifestyleContainer .fiveCol article {
    background-color: #46a07b;
    padding: 25px;
    color: #fff;
    margin-bottom: 10px;

}

#lifestyleContainer .fiveCol article a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    width: 100%;
    padding: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
}

#lifestyleContainer .fiveCol article a:hover {
    border: 1px solid #fff;
    background-color: #fff;
    color: #46a07b;
}


/* ==========================================================================
   FAQ
   ========================================================================== */

.faq section {
    margin: 4   0px 0;
}

.faq section h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.faq section h4 {
	margin-bottom: 0;
	margin-top: 30px;
}

.faq section p {
    margin-top: 0;
    padding-top: 0;
}

/* ==========================================================================
   Admin page styling
   ========================================================================== */
 

#navbarInner .nav {
    float: left;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    background-image: -o-linear-gradient(top,#fff,#f2f2f2);
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

#navbarInner .nav li {
    float: left;
    display: list-item;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    width: 100%;
}

#navbarInner .nav li a {
    float: left;
    padding: 10px 20px 10px 20px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    width: 100%;
    text-align: center;
}

#navbarInner .nav li a:hover {
    color: #333;
}

#navbarInner .nav>.active>a, #navbarInner .nav>.active>a:hover, #navbarInner .nav>.active>a:focus  {
    color: #555;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    float: left;
    padding: 10px 20px 10px 20px;
}

#navbarInner .nav .brand {
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 20px;
}

.adminHeader {
    border-bottom-color: rgba(238, 238, 238,1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.adminHeader h1  {
    float: left;
    margin: 15px 0 30px 20px;
}

.adminHeader h1 small {
    color: rgba(153, 153, 153,1);
    font-weight: normal;
}

#orderContainer table {
    width: 100%;
}

#orderContainer tbody tr:nth-child(2n+1) {
    background-color: rgb(249, 249, 249);
    border-top: rgb(221, 221, 221) solid 1px;
    border-bottom: rgb(221, 221, 221) solid 1px;
}

#orderContainer tbody tr td a {
    color: rgb(70, 160, 123);
}

#orderContainer tbody tr td:first-child {
    padding-left: 20px;
}

#orderContainer tfoot {
    border-top: rgb(221, 221, 221) solid 1px;
    border-bottom: rgb(221, 221, 221) solid 1px;
}

.previous {
    float: left;
    margin-left: 20px;
    color: rgb(70, 160, 123);
}

.customerWell {
    width: 30%;
    margin: 30px auto;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    #navLeft a {
        float: left;
        width: auto;
        margin: 30px 5.7% 5px 5.7%;
        padding: 0 0%;
        margin-bottom: 0;
    }

    #navLeft li:first-child a {
        margin-left: 0;
    }

    #navLeft li:last-child a {
        margin-right: 0;
    }

    #navRight a {
        float: left;
        width: auto;
        margin: 30px 5.7% 5px 5.7%;
        padding: 0 0%;
        margin-bottom: 0;
    }

    #navRight li:first-child a {
        margin-right: 0;
    }

    #navRight li:last-child a {
        margin-left: 0;
    }

    #navbarInner .nav li {
    width: auto;
    }

    #navbarInner .nav li a {
    width: auto;
    text-align: left;
    }


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */  

    .header-container {
      /*  -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
        */
        min-height: 800px;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    #instructionsContainer article {
        float: left;
        width: 100%;
        margin-bottom: 80px;
        margin-top: 40px;
    }

    .articleContent, .articleImage {
        width: 50%;
        float: left;
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1126px; /* 1140px - 10% for margins */
        margin: 0 auto;
        padding: 60px 0 0 0;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}